<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<h1>Welcome to the LOUIS POLICE</h1>
	<button id="testing">testing purposes!</button>
	<form method="post" action="/">

		<label for="testAudio">test audio:</label>
		<input type="submit" name="action" value="testAudio" id="testAudioButton">
		<br>
		<label for="motor">MOTOR:</label>
		<input type="submit" name="action" value="motor">
		<br>
		<label for="video">START VIDEO:</label>
		<input type="submit" name="action" value="startVideo" id="startVideoButton">
		<label for="video">END VIDEO:</label>
		<input type="submit" name="action" value="endVideo" id="endVideoButton">
	</form>
	<h1>LOUIS Stream</h1>
	<img id="video-stream" src="" alt="WAITING TO SEE LOUIS...">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
	<script src="../static/client.js"></script>
</body>

</html>